
body {
    height: 80vh;
    width: 80vw;
    margin: auto;
    padding: 2em;
    
}

.bodyNintendo {
    height: 50em;
    width: 35em;
    background: rgb(96, 224, 60);
    margin: auto;
    box-shadow: 1em 1em 1em 1em  rgba(132, 135, 132, 0.458);
    border-radius: 5% 5% 15% 15%;
    background: linear-gradient(to right, rgb(167, 237, 167), rgb(96, 224, 60) 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Here we make style of the first part of Nintendo Console */

#firstPart {
    height: 30em;
    width: 30em;
    border: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: -2em;
}

.firstPartScreen {
    display: flex;
}

.blackSquare {
    height: 25em;
    width: 30em;
    margin: auto;
    background: rgb(33, 32, 32);
    border: solid 0.3em black;
    border-radius: 5% 5% 15% 15%;
    box-shadow: 0em 0.5em 0.5em 0.5em rgba(128, 128, 128, 0.449);
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-direction: column;
}

.powerButton {
    height: 15px;
    width: 15px;
    margin-top: 10em;
    margin-right: -2em;
    margin-left: -6em;
    background: rgb(107, 2, 2);
    box-shadow: 0em 0em 0.2em 0.2em rgb(45, 8, 8);
    border-radius: 50%;
}

.powerName {
    height: 3em;
    width: 3em;
    color: rgb(204, 204, 204);
    font-size: 1.1em;
    margin-top: 8.2em;
    margin-right: -3em;
    display: flex;
    justify-content: end;
    align-items: end;

}

.screen {
    height: 18em;
    width: 18em;
    padding: 3em;
    border: solid 0.4em rgb(10, 10, 10);
    background: rgb(162, 161, 161);
    margin-bottom: 2em;
    margin-right: -4em;
    margin-left: 4em;
    margin-top: 4em;
}

/* Here we make css style of the Nintendo Name part */

.nintendoName{  
    display: flex;
    justify-content: center;
    height: 4em;
    width: 20em;
    margin-bottom: 2em;
}

.colorName {
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    font-size: 1.5em;
}
    
.gameBoy {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    color: rgb(167, 166, 166);
    margin-right: 1em;
}

#words {
    font-size: 1em;
}

.c {
    font-size: small;
    font-style: italic;
    color: rgb(195, 10, 136);
 }
 .o {
    font-size: small;
    color: rgb(71, 11, 131);
 }
 .l {
    font-size: small;

    color: rgb(158, 222, 61);
 }
 .o1 {
    font-size: small;
    color: rgb(255, 255, 61);
 }
 .r {
    font-size: small;
    color: rgb(96, 142, 243);
 }

 /* Here we start with css style of the middleParte of the console */

 #middlePart {
    height: 10em;
    width: 30em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
 }

 /* Putting css style for Nintendo Logo middle part */

 .nintendoLogoSpace {
    height: 3em;
    width: 30em;
    margin-top: -7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
 }

 .logoSpace {
    height: 1.5em;
    width: 8em;
 }

 .nintendoLogo { 
    height: 2em;
    width: 10em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    box-shadow: 0em 0em 0.2em 0.2em rgba(22, 167, 22, 0.556);
    color: rgba(22, 167, 22, 0.556);
    border-radius: 1em;
 }

 .nintendoMiddle {
    height: 1.5em;
    width: 8em;
    font-weight: bold;
    font-size: 1.3em;
    font-family:Arial, Helvetica, sans-serifss;
    margin-left: 1em;
    margin-top: 0.5em;
 }

 /* Here we add css style fot the secondMiddlePart */

 .secondMiddlePart {
    height: 9em;
    width: 30em;
    display: flex;
 }

 .leftMiddlePart {
    height: 9em;
    width: 10em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
 }

/* Here we made Nintendo buttons style */

 .a1, .a2, .a3, .a4, .a5, .a6, .a7, .a8, .a9  {
    height: 2.5em;
    width: 2.5em;
 }

 .a2 {
    background-color: rgb(114, 113, 113);
    border-radius: 30% 30% 0% 0%;
    box-shadow: 0 0 0.2em 0.1em black;
    margin-top: 1em;
 }
 
.up {
    width: 0; 
    height: 0; 
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 2em solid #353433;
    margin-top: 0.2em;
    margin-left: 0.2em;
}

 .a4 {
    background-color: rgb(114, 113, 113);
    border-radius: 30% 0% 0% 30%;
    box-shadow: 0 0 0.2em 0.1em black;
    margin-left: 1em;
 }

 .a5 {
    height: 2.8em;
    width: 2.5em;
    background-color: rgb(114, 113, 113);
    box-shadow: 0 0 0.3em 0.3em rgb(114, 113, 113);
 }

 .a6 {
    background-color: rgb(114, 113, 113);
    border-radius: 0% 30% 30% 0%;
    box-shadow: 0 0 0.2em 0.1em black;
    margin-right: 1.6em;
 }

 .right {
    width: 0; 
    height: 0; 
    border-left: 2em solid #353433;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    margin-top: 0.2em;
    margin-left: 0.2em;
}

 .a8 {
    background-color: rgb(114, 113, 113);
    border-radius: 0% 0% 30% 30%;
    box-shadow: 0 0 0.2em 0.1em black;
    margin-bottom: 1rem;
 }

 .down {
    width: 0; 
    height: 0; 
    border-left: 1em solid transparent;
    border-top: 2em solid #353433;
    border-right: 1em solid transparent;
    border-bottom: 1em solid transparent;
    margin-top: 0.2em;
    margin-left: 0.2em;
 }
 
 .middleMiddlePart {
    height: 9em;
    width: 10em;
 }

 .rightMiddlePart {
    height: 9em;
    width: 10em;
    background-color: rgb(56, 46, 46);
 }

 #secondPart {
    height: 8em;
    width: 30em;
    background: rgb(71, 11, 11);
    
 }




    
 * {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}