
body {
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: 2em;
    background-image: url(../img/53828.jpg);
    background-size: cover;
    backdrop-filter: blur(2px);
}

.bodyNintendo {
    height: 50em;
    width: 35em;
    background: rgb(96, 224, 60);
    margin: auto;
    box-shadow: 0 0 2em 1.5em rgba(9, 93, 9, 0.445);
    border-radius: 5% 5% 15% 15%;
    background: linear-gradient(to right, rgb(167, 237, 167) 5%, rgb(96, 224, 60) 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Here I made style of the first part of Nintendo Console */

#firstPart {
    height: 30em;
    width: 30em;
    border: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: -2em;
}

.firstPartScreen {
    display: flex;
}

.blackSquare {
    height: 25em;
    width: 30em;
    margin: auto;
    background: rgb(33, 32, 32);
    border: solid 0.3em black;
    border-radius: 5% 5% 15% 15%;
    box-shadow: 0em 0.5em 0.5em 0.5em rgba(128, 128, 128, 0.449);
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-direction: column;
}

/* Here I made css style of power button and his  flash animation */

.powerButton {
    height: 15px;
    width: 15px;
    margin-top: 10em;
    margin-right: -2em;
    margin-left: -6em;
    box-shadow: 0em 0em 0.2em 0.2em rgb(45, 8, 8);
    border-radius: 50%;
}

.ledPowerOn {
   background-color: rgb(206, 17, 27);
}

.powerName {
    height: 3em;
    width: 3em;
    color: rgb(204, 204, 204);
    font-size: 1.1em;
    margin-top: 8.5em;
    margin-right: -3em;
    display: flex;
    justify-content: end;
    align-items: end;

}

/* .animated {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
 }

25%, 75% {
    opacity: 0;
 }

}

@keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
 }

25%, 75% {
    opacity: 0;
 }

}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
} */

.screen {
    height: 18em;
    width: 18em;
    padding: 3em;
    box-shadow: 0 0 0.4em 0.1em black;
    background-image: linear-gradient(to bottom right, rgb(158, 157, 157), rgba(53, 53, 53, 0.801));
    margin-bottom: 2em;
    margin-right: -4em;
    margin-left: 4em;
    margin-top: 4em;
}

/* Here I make css style of the Nintendo Name part */

.nintendoName{  
    display: flex;
    justify-content: center;
    height: 4em;
    width: 20em;
    margin-bottom: 2em;
}

.colorName {
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    font-size: 1.5em;
}
    
.gameBoy {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    color: rgb(167, 166, 166);
    margin-right: 1em;
}

#words {
    font-size: 1em;
}

.c, .o, .l, .o1, .r {
   font-size: small;
}

.c {
    font-style: italic;
    color: rgb(195, 10, 136);
 }

 .o {
    color: rgb(71, 11, 131);
 }

 .l {
    color: rgb(158, 222, 61);
 }

 .o1 {
    color: rgb(255, 255, 61);
 }

 .r {
    color: rgb(96, 142, 243);
 }

 /* Here I start with css style of the middleParte of the console */

 #middlePart {
    height: 10em;
    width: 30em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
 }

 /* Putting css style for Nintendo Logo middle part */

 .nintendoLogoSpace {
    height: 3em;
    width: 30em;
    margin-top: -7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
 }

 .logoSpace {
    height: 1.5em;
    width: 8em;
 }

 .nintendoLogo { 
    height: 2em;
    width: 10em;
    margin-top: 2.5em;
    display: flex;
    align-items: center;
    box-shadow: 0em 0em 0.2em 0.2em rgba(22, 167, 22, 0.556);
    color: rgba(22, 167, 22, 0.556);
    border-radius: 1em;
 }

 .nintendoMiddle {
    height: 1.5em;
    width: 8em;
    font-weight: bold;
    font-size: 1.3em;
    font-family:Arial, Helvetica, sans-serifss;
    margin-left: 1em;
    margin-top: 0.5em;
 }

 /* Here I add css style fot the secondMiddlePart */

 .secondMiddlePart, .leftMiddlePart{
    height: 9em;
 }

 .secondMiddlePart {
    width: 30em;
    display: flex;
 }

 .leftMiddlePart {
    width: 10em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
 }

/* Here I made Nintendo buttons style */

 .a1, .a2, .a3, .a4, .a5, .a6, .a7, .a8, .a9  {
    height: 2.5em;
    width: 2.5em;
 }

 .a2 {
    background-color: rgb(114, 113, 113);
    border-radius: 30% 30% 0% 0%;
    box-shadow: 0 0 0.2em 0.1em black;
    margin-top: 1em;
 }

 .a2:hover, .a4:hover, .a6:hover, .a8:hover, .buttonB:hover, .buttonA:hover {
    background-color: #5b5958;
    cursor: pointer;
    box-shadow: 0 0 0.2em 0.1em rgba(255, 255, 255, 0.701);
 }

 .screenOn {
   background-color: white;
   background-image: url(../img/nintendoLogo.gif);
   background-repeat: no-repeat;
   background-size: 19em;
 }

.up, .right, .left, .down {
   width: 0; 
   height: 0;
}

.up, .right, .down {
   margin-top: 0.2em;
}

.up {
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 2em solid #353433;
    margin-left: 0.2em;
}

 .a4 {
    background-color: rgb(114, 113, 113);
    border-radius: 30% 0% 0% 30%;
    box-shadow: 0 0 0.2em 0.1em black;
    margin-left: 1em;
 }

 .left {
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 2em solid #353433;
    margin-top: 0.2em;
 }

 .a5 {
    height: 2.5em;
    width: 2.4em;
    background-color: rgb(114, 113, 113);
    box-shadow: 0 0 0.1em 0.2em rgb(114, 113, 113);
    z-index: 3;
 }

 .center {
    height: 2.4em;
    width: 2.4em;
    border-radius: 50%;
    background-color: #353433;
 }

 .a6 {
    background-color: rgb(114, 113, 113);
    border-radius: 0% 30% 30% 0%;
    box-shadow: 0 0 0.2em 0.1em black;
    margin-right: 1.6em;
    z-index: 2;
 }

 .right {
    border-left: 2em solid #353433;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    margin-left: 0.2em;
}

 .a8 {
    background-color: rgb(114, 113, 113);
    border-radius: 0% 0% 30% 30%;
    box-shadow: 0 0 0.2em 0.1em black;
    margin-bottom: 1rem;
    z-index: 1;
 }

 .down {
    border-left: 1em solid transparent;
    border-top: 2em solid #353433;
    border-right: 1em solid transparent;
    border-bottom: 1em solid transparent;
    margin-left: 0.2em;
 }
 
 .middleMiddlePart {
    height: 9em;
    width: 10em;
 }

 /* Here I start with css style of the button B & A of Nintendo */

 .rightMiddlePart {
    height: 9em;
    width: 10em;
    display: flex;
 }

 .buttonB, .buttonA {
    height: 4em;
    width: 4em;
    background-color: #353433;
    border-radius: 50%;
    border: solid 0.1em gray;
    box-shadow: 0.2em 0.3em 1em 0 rgba(52, 50, 50, 0.529);
 }

 .buttonB {
    margin-top: 2.5em;
 }
 
 .buttonA {
   border: solid 0.1em gray;
   margin-left: 1em;
}

 .buttonB:active, .buttonA:active, .a2:active, .a4:active, .a6:active, .a8:active, .selectButton:active, .startButton:active {
      background: linear-gradient(to right, rgb(114, 113, 113), rgb(36, 35, 35));
  }
 
 .buttonLetterB, .buttonLetterA {
    width: 3em;
    height: 4em;
    font-size: 3em;
    margin-top: 0.1em;
    margin-left: 0.3em;
 }

/* Here I start to modify second part of th console */

 #secondPart {
    width: 30em;
    margin-top: 2em;
    display: flex;
 }

 .leftSecondPart {
    width: 11em;
    height: 5em;
 }

 .middleSecondPart {
    width: 18em;
    height: 8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 3em;
 }

 /* Here I start design css style of buttons Select & Start */

 .selectButton, .startButton {
    height: 1em;
    width: 3.3em;
    background-color: #353433;
    border-radius: 1em;
    border: solid 0.1em gray;
    margin-right: 0.6em;
    margin-top: 2.5em;
    box-shadow: 0.2em 0.3em 1em 0 rgba(52, 50, 50, 0.529);
 }

 .selectButton:hover, .startButton:hover {
    background-color: #615d5a;
    cursor: pointer;
    box-shadow: 0 0 0.2em 0 white;
 }

 .middleSecondPart .selectButton {
   display: grid;
}

.finalPart {
   height: 5em;
   width: 10em;
   display: flex;
   justify-content: space-around;
   margin-left: 1em;
   margin-top: -1.6em;
}

.startButtonName, .selectButtonName {
    height: 1em;
    width: 2.9em;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serifss;
    color: rgba(22, 167, 22, 0.556);
}

 .startButtonName {
    margin-right: 0.6em;
    font-size: 1em;
}

.selectButtonName{
    margin-right: 1.1em;
    font-weight: bold;
    font-size: 1em;
}

/* Nintendo speaker css style */

 .rightSecondPart {
    width: 8em;
    height: 8em;
    transform: rotate(-1deg);
    /* transform: skewX(3deg); */
    margin-right: -3em;
    margin-top: 2em;
 }

 .pointsBlack {
   height: 0.5em;
   width: 0.5em;
   border-radius: 50%;
   background-color: rgb(47, 46, 46);
   box-shadow: 0 0 0.4em 0.2em rgba(42, 42, 42, 0.438);
 }

 .pointsGreen {
   height: 0.5em;
   width: 0.5em;
   border-radius: 50%;
   background-color: rgba(49, 129, 3, 0.567);
   box-shadow: 0 0 0.4em 0.2em rgba(128, 186, 94, 0.937);
 }

 .point1, .point3, .point5, .point7 {
   height: 1em;
   width: 8em;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
 }

  .point2, .point4, .point6  {
   height: 1em;
   width: 8em;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

 .points {
   height: 0.5em;
   width: 0.5em;
   border-radius: 50%;
   align-content: space-around;
 }

 * {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}